<title>CarProtege</title>

<body>
    <div id="bodyCoches">
        <button id="botonAñadirCoche">Registrar factura nueva</button>
        <div class="centrado">
            <h1>Tus facturas</h1>
        </div>
        <div class="contenedor">
            <div class="contenedorIzquierda">
                <div class="contenedorMatricula">
                    <h3 class="matricula">Número de Factura</h3>
                </div>
                <ul>
                    <li class="caracteristicasCoche">Matricula</li>
                    <li class="caracteristicasCoche">Razón</li>
                    <li class="caracteristicasCoche">Taller</li>
                    <li class="caracteristicasCoche">Gasto</li>
                    <li class="caracteristicasCoche">Fecha</li>
                </ul>
                <div id="contenedorBotones">
                    <button class="boton">Editar</button>
                    <button class="boton">Eliminar</button>
                </div>
            </div>

            <div class="contenedorDerecha">
                <div class="contenedorMatricula">
                    <h3 class="matricula">Número de Factura</h3>
                </div>
                <ul>
                    <li class="caracteristicasCoche">Matricula</li>
                    <li class="caracteristicasCoche">Razón</li>
                    <li class="caracteristicasCoche">Taller</li>
                    <li class="caracteristicasCoche">Gasto</li>
                    <li class="caracteristicasCoche">Fecha</li>
                </ul>
                <div id="contenedorBotones">
                    <button class="boton">Editar</button>
                    <button class="boton">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</body>