<title>CarProtege</title>
<link rel="stylesheet" href="coches.component.css">

<body>
    
    <div>
        <button id="botonAñadirCoche">Añadir Coche</button>
    </div>

    <div class="contenedor">

        <div class="contenedorIzquierda">
            <div class="contenedorMatricula">
                <h3 class="matricula">Matrícula CD 10 258</h3>
            </div>
            <ul>
                <li class="caracteristicasCoche">Modelo: Audi A3</li>
                <li class="caracteristicasCoche">Color: Rojo</li>
                <li class="caracteristicasCoche">Año: 2003</li>
                <li class="caracteristicasCoche">Fecha ITV: 26/12/2023</li>
            </ul>
            <div id="contenedorBotones">
                <button class="boton">Editar</button>
                <button class="boton">Eliminar</button>
            </div>
        </div>

        <div class="contenedorDerecha">
            <div class="contenedorMatricula">
                <h3 class="matricula">Matrícula MN 12 954</h3>
            </div>
            <ul>
                <li class="caracteristicasCoche">Modelo: BMW 116d</li>
                <li class="caracteristicasCoche">Color: Verde</li>
                <li class="caracteristicasCoche">Año: 2012</li>
                <li class="caracteristicasCoche">Fecha ITV: 30/01/2024</li>
            </ul>
            <div id="contenedorBotones">
                <button class="boton">Editar</button>
                <button class="boton">Eliminar</button>
            </div>
        </div>
    </div>
</body>