.matricula{
    font-weight: bolder;
    border: 4px solid #3ba3d1;
    border-radius: 15px;
    margin-right: 48%;
    padding-left: 3%;
}
.caracteristicasCoche{
    list-style-type: none;
    font-weight: bold;
}

.contenedor{
    margin-left: 5%;
    display: flex;
    margin-top: 2%;
}

.contenedorIzquierda, .contenedorDerecha{
    flex: 1;
}

.boton{
    background-color: #3ba3d1;
    color: white;
    border-radius: 15px;
    border: 4px solid #3ba3d1;
    margin: 1%;
    padding-right: 2%;
    padding-left: 2%;
}

#botonAñadirCoche{
    font-weight: bold;
    font-size: 130%;
}