
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="sidebar" >

    <div class="top">
        <div class="logo">
            <i class="bx bx-notepad"  ></i>
            <span>CarProtege</span>
        </div>
        <i class="bx bx-menu" id="btn" ></i>
    </div>
    <div class="user">
        <div>
            <p class="bold">Fernando</p>
        </div>
    </div>



    <ul>
        <li>
            <a routerLink="" >
                <i class='bx bx-home' ></i>
                <span class="nav-item">Inicio</span>
            </a>
            <span class="tooltip">Inicio</span>
        </li>
        <li>
            <a routerLink="facturas" >
                <i class='bx bx-spreadsheet' ></i>
                <span class="nav-item" >Facturas</span>
            </a>
            <span class="tooltip">Facturas</span>
        </li>
        <li>
            <a routerLink="usuarios">
                <i class='bx bx-user' ></i>
                <span class="nav-item" >Usuario</span>
            </a>
            <span class="tooltip">Usuario</span>
        </li>
        <li>
            <a routerLink="revisiones">
                <i class='bx bx-cog'></i>
                <span class="nav-item">Revisiones</span>
            </a>
            <span class="tooltip">Revisiones</span>
        </li>
        <li>
            <a routerLink="coches">
                <i class='bx bxs-car-mechanic'></i>
                <span class="nav-item">Coches</span>
            </a>
            <span class="tooltip">Coches</span>
        </li>
        <li>
            <a routerLink="calendario">
                <i class='bx bx-calendar-check'></i>
                <span class="nav-item">Calendario</span>
            </a>
            <span class="tooltip">Calendario</span>
        </li>
        <li>
            <a routerLink="colaboradores">
                <i class='bx bxs-contact' ></i>
                <span class="nav-item">Colaboradores</span>
            </a>
            <span class="tooltip">Colaboradores</span>
        </li>
        
    </ul>
</div>

    




