<!-- <div class="contenedor">
  <form [formGroup]="formLogin" (ngSubmit)="send(formLogin)" >
    <div>
      <label for="email">Email</label>
      <input 
        type="text" 
        id="email" 
        formControlName="email" 
        required="email"
        >
      </div>
      <div *ngIf="formLogin.get('email')?.touched && formLogin.get('email')?.hasError">
        <div *ngIf="formLogin.get('email')?.hasError('required')" class="alert alert-danger">
          El email es requerido
        </div>
        <div *ngIf="formLogin.get('email')?.hasError('email')" class="alert alert-danger">
          El email no es valido
        </div>

      </div>


      
    
    <div>
      <label for="password">Contraseña</label>
      <input 
        type="password" 
        id="password"
        formControlName="password"
        required>
    </div>
    <div *ngIf="formLogin.get('password')?.touched && formLogin.get('password')?.hasError('required')" class="alert alert-danger"> Es requerido</div>

    <div>
      <button type="submit" [disabled]="!formLogin.valid">Iniciar Sesión</button>
    </div>
  </form>
</div> 

   -->



   <div class="contenedor">
    <div class="areaIzquierda">
        <h3>
          <img src="https://www.pngkit.com/png/full/119-1192140_carro-png-sin-fondo-gt-sport-nav-mazda.png" alt="logo" class="logo">
          CarProtege
        </h3>



        <!-- boton de inicio de sesión -->
        <form [formGroup]="formLogin" (ngSubmit)="send(formLogin)" >
        <button id="iniSesion" class="iniSesion">Iniciar Sesión</button>

        <!-- area de logeo -->
        <div id="correoYMail" class="correoYMail">
            <label for="email">Email</label>
            <input 
            type="text" 
            id="email" 
            formControlName="email" 
            required="email"
            placeholder="Correo electrónico"
            >
          </div>
          <div *ngIf="formLogin.get('email')?.touched && formLogin.get('email')?.hasError">
            <div *ngIf="formLogin.get('email')?.hasError('required')" class="alert alert-danger">
              El email es requerido
            </div>
            <div *ngIf="formLogin.get('email')?.hasError('email')" class="alert alert-danger">
              El email no es valido
            </div>
            <br>
            <div>
              <label for="password">Contraseña</label>
              <input 
                type="password" 
                id="password"
                formControlName="password"
                placeholder="******"
                required>
            </div>
            <div *ngIf="formLogin.get('password')?.touched && formLogin.get('password')?.hasError('required')" class="alert alert-danger"> Es requerido</div>
        </div>
      </form>







        <!-- Incentivo a registrarse -->
        <div id="registrate" class="registrate">
            <p>¿No tienes una cuenta?</p>
            <p class="registrateAqui">Registrate <a href="">aquí</a>.</p>
        </div>
    </div>
    <!-- Area de imagen y beneficios de CarProtege -->
    <div class="areaDerecha">
        <p class="textoAreaDerecha">
            En CarProtege te ofrecemos una solución para que nunca olvides el chequeo de tu coche
        </p>
        <ul id="beneficiosCarProtege" class="beneficiosCarProtege">
            <li>
                Genera una alarma para recordar las revisiones
            </li>
            <li>
                Registrar tus pagos relacionados al coche
            </li>
            <li>
                Lleva el control de los cambios y reparaciones
            </li>
        </ul>
    </div>
</div>
