   <div class="contenedor">
    <div class="areaIzquierda">
        <!-- boton de inicio de sesión -->
        <form [formGroup]="formLogin" (ngSubmit)="send(formLogin)" >
        <button id="iniSesion" class="iniSesion">Iniciar Sesión</button>

        <!-- area de logeo -->
        <div id="correoYMail" class="correoYMail">
            <label for="email">Email</label>
            <input 
            type="text" 
            id="email" 
            formControlName="email" 
            required="email"
            placeholder="Correo electrónico"
            >
          </div>
          <div *ngIf="formLogin.get('email')?.touched && formLogin.get('email')?.hasError">
            <div *ngIf="formLogin.get('email')?.hasError('required')" class="alert alert-danger" id="ventanaCorreo" >
              El email es requerido
            </div>
            <div *ngIf="formLogin.get('email')?.hasError('email')" class="alert alert-danger" id="ventanaCorreo" >
              El email no es valido
            </div>
            <br>
            <div class="formularioContrasena">
              <label for="password" class="password">Contraseña</label>
              <input 
                type="password" 
                id="password"
                formControlName="password"
                required
                placeholder="***********"
                >
            </div>
            <div *ngIf="formLogin.get('password')?.touched && formLogin.get('password')?.hasError('required')" class="alert alert-danger" id="ventanaContraseña"> Es requerido</div>
        </div>
      </form>


        <!-- Incentivo a registrarse -->
        <div id="registrate" class="registrate">
            <p>¿No tienes una cuenta?</p>
            <p class="registrateAqui">Registrate <a href="">aquí</a>.</p>
        </div>
    </div>
    <!-- Area de imagen y beneficios de CarProtege -->
    <div class="areaDerecha">
        <p class="textoAreaDerecha">
            En CarProtege te ofrecemos una solución para que nunca olvides el chequeo de tu coche
        </p>
        <ul id="beneficiosCarProtege" class="beneficiosCarProtege">
            <li>
                Genera una alarma para recordar las revisiones
            </li>
            <li>
                Registrar tus pagos relacionados al coche
            </li>
            <li>
                Lleva el control de los cambios y reparaciones
            </li>
        </ul>
    </div>
</div>

