<title>CarProtege</title>

<body>
    <div id="bodyCoches">
        <button id="botonAñadirCoche">Añadir Usuario</button>
        <div class="centrado">
            <h1>Gestor de Usuarios</h1>
        </div>
        <div class="contenedor">
            <div class="contenedorIzquierda">
                <div class="contenedorMatricula">
                    <h3 class="matricula">Nombre de usuario</h3>
                </div>
                <ul>
                    <li class="caracteristicasCoche">Correo</li>
                    <li class="caracteristicasCoche">Contraseña</li>
                    <li class="caracteristicasCoche">Edad</li>
                </ul>
                <div id="contenedorBotones">
                    <button class="boton">Bloquear</button>
                    <button class="boton">Editar</button>
                    <button class="boton">Baja</button>
                </div>
            </div>

            <div class="contenedorDerecha">
                <div class="contenedorMatricula">
                    <h3 class="matricula">Nombre de usuario</h3>
                </div>
                <ul>
                    <li class="caracteristicasCoche">Correo</li>
                    <li class="caracteristicasCoche">Contraseña</li>
                    <li class="caracteristicasCoche">Edad</li>
                </ul>
                <div id="contenedorBotones">
                    <button class="boton">Bloquear</button>
                    <button class="boton">Editar</button>
                    <button class="boton">Baja</button>
                </div>
            </div>
        </div>
    </div>
</body>