<title>CarProtege</title>

<body>
    <div id="bodyCoches">
        <button id="botonAñadirCoche">Registrar taller nuevo</button>
        <div class="centrado">
            <h1>Talleres</h1>
        </div>
        <div class="contenedor">
            <div class="contenedorIzquierda">
                <div class="contenedorMatricula">
                    <h3 class="matricula">Reparaciones rápidas</h3>
                </div>
                <ul>
                    <li class="caracteristicasCoche">Teléfono</li>
                    <li class="caracteristicasCoche">Dirección</li>
                </ul>
                <div id="contenedorBotones">
                    <button class="boton">Editar</button>
                </div>
            </div>

            <div class="contenedorDerecha">
                <div class="contenedorMatricula">
                    <h3 class="matricula">Matrícula MN 12 954</h3>
                </div>
                <ul>
                    <li class="caracteristicasCoche">Teléfono</li>
                    <li class="caracteristicasCoche">Dirección</li>
                </ul>
                <div id="contenedorBotones">
                    <button class="boton">Editar</button>
                </div>
            </div>
        </div>
    </div>
</body>